<!DOCTYPE html>
<html lang="sv">
<head>
    <div th:replace="layout :: head" th:remove="tag"></div>
</head>
<body>

    <div class="container">
        <header th:replace="layout :: header"></header>
        
        <div class="jumbotron bg-secondary mt-3 text-light">
            <table class="table text-light table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roll</th>
                        <th>Registrerad datum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}" th:object="${user}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{email}"></td>
                        <td>
                            <form th:id="'user-' + *{id}" th:action="@{'/admin/users/' + *{id} + '/role'}" method="post">
                                <div class="form-group">
                                    <select th:attr="oninput='document.forms[\'user-' + *{id} + '\'].submit();'" class="form-control" name="role" id="role">
                                        <option
                                            th:each="role : ${roles}"
                                            th:value="${role}"
                                            th:text="${role}"
                                            th:attr="selected=${role == user.role} ? 'selected' : 'off'"></option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td th:text="*{createdDate}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <footer th:replace="layout :: footer"></footer>
        
    </div>
</body>
</html>